<!DOCTYPE html>
<html>
  <head>
    <title>CS-43200 Project</title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>

  <body>
    <h1>UNHACKABLE WEBSITE</h1>

    <form action = "/getInput" method = "post">
      <p>Can't hack me</p>
      <input type = "text" name = "txtField">
      <input type = "password" name = "passField">
      <button>submit</button>
    </form>
    </br>
    <button type="button" onclick="document.location.href='/viewDB'">View the database</button>
    <button type="button" onclick="document.location.href='/resetDB'">Reset the database</button>
  </body>
</html>