<!--
this page only lets the user know that the database has been reset.
the code responsible for actually resetting the database is in bottle_app.py
-->

<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Reset DB</title>
</head>

<body>
    The database has been reset.
    </br>
    <button type="button" onclick="document.location.href='/getInput'">Add an entry</button>
    <button type="button" onclick="document.location.href='/viewDB'">View the database</button>
</body>

</html>